/* Layout Elements */

body {
	background-color: #FFFFFF;
}

hr {
  background-color: #000000;
}

/* Navigation */
div.header h1 {
  color: #29c;
  text-transform: lowercase;
}

div.nav {
  text-align: right;
}

ul.nav {
  list-style: none;
  padding-left: 10px;
}

ul.nav, ul.nav li {
  display: inline;
}

ul.nav li {
  text-transform: uppercase;
  font-weight: bold;
  margin-right: 20px;
}

ul.nav li a {
  text-decoration: none;
}

/* Forms */
textarea.input_status {
  height: 25px;
}

/* Tables */
th {
  font-size: 14pt;
}