<h1>All Users</h1>
<br />

<table>
  <th colspan="2">Username</th>
  <th>First Name</th>
  <th>Last Name</th>
  <th>Email</th>
  <% if current_user.admin? %>
  <th>Meta</th>
  <% end %>
  
  <%= render @users %>
</table>