<div class="nav">
  <ul class="nav">
    <li class="first"><%= link_to "Home", root_path, :class => "quiet" %></li>
    <li><%= link_to "About", about_path, :class => "quiet" %></li>
    <li><%= link_to "Sign In", "#", :class => "quiet" %></li>
  </ul>
</div>